body{
    margin: 0;
    padding-top: 65px;
}

nav{
    height: 60px;
    display: flex;
    background-color: orange;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo{
    height: 100%;
}

img{
    height: 100%;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

li{
    margin: 8px;
}

a{
    text-decoration: none;
    color: white;
}


